body {
    font-family: Arial;
    background-color: #f4f6f8;
    text-align: center;
}

.slot {
    display: inline-block;
    width: 220px;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.available {
    border-left: 6px solid green;
}

.reserved {
    border-left: 6px solid orange;
}

.occupied {
    border-left: 6px solid red;
}

button {
    padding: 8px 15px;
    margin-top: 10px;
    cursor: pointer;
}
